
    $--red-color: #F46B5B;
    $--black-color: #383838;
    $--blackGray-color: #5F5D5D;
    $--icon-color: #A7A7A7;
    $--border-color: #A7A7A7;
    $--white-color: #fff;
    $--searchbox-color: #EFEFF0;
    $--bg-color: #C4C4C4;
    $--tag-color: #BB6BD9;
    $--companyname-color: #999999;
    $--tag2-color: #2D9CDB;
    $--footer-bg: #FAF3F2;
    $--footericon-color: rgba(244, 106, 91, 0.534);
